* {
    box-sizing: border-box;
}
.animate-box {
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1%;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    transition: transform .3s;
}
.animate-box:hover {
    transform: scale(1.5, 1.5);
}